.errorDisplay {
    width: 500px;
    height: 200px;
    background-size: cover;
    background: #ffbaba url('../../assets/break-internet.gif') no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: white;
        padding: 10px;
        font-size: 14px;
    }

    button {
        width: 150px;
    }
}
