.vehicle {
    flex: auto;
    height: 250px;
    min-width: 150px;
    max-width: 250px;
    margin: 0 8px 8px 0;
    background: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }

    img {
        //Repeating the values is a bit meh, but it lets us handle missing images with just css
        //Instead of using an onError callback
        min-height: 150px;
        max-height: 150px;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
        background-image: url('../../assets/fallback.jpg');
        background-size: cover;
        display: block;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 5px;
        align-items: self-end;
    }

    @media screen and (max-width: 543px) {
        max-width: 100%;
    }
}
